.datepainter {
    border: 1px solid;
    border-color: #aaa;
    border-collapse: separate;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:default;
}

.datepainter select {
    width: 100%;
}
.datepainter-cell {
    border: 1px solid;
    border-color: #fff;
    text-align: center;

}

.datepainter-cell:hover {
    border: 1px solid;
    border-color: #aaa;

}

.datepainter-week-cell {
    text-align: left;
    color: #658AAB;
}

.datepainter-today {
    background-color: #D6FFE2;
}

.datepainter-selected {
    background: #95B4E6;
}

.datepainter-highlight {
    background: #DEEBFF;
}

.datepainter-selected.datepainter-today {
    background: #BBD3FA;
}


.datepainter-highlight.datepainter-today {
    background: #D6FFFD;
}

.datepainter-selected.datepainter-highlight {
    background: #BBD0F2;
}

.datepainter-other-months {
    color: #888;

}
